.dashboard {
  display: none;
  grid-template-columns: 90px 1fr 2fr 1fr 90px;
  grid-template-rows: 12vh 10vh 65vh 13vh;
  width: 100%;
}

.container {
  height: 100%;
  
  .content {
    height: 100%;
    padding: .25em;
  }
}

.header-dashboard-container {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row: 2;
  width: 100%;
  
  .header-content {
    @include columnFlexCenter();
  
    h2 {
      margin: 0;
    }
  }
}

.left-dashboard-container {
  grid-column-start: 2;
  grid-row: 3;
  width: 100%;
  
  .past-bookings,
  .current-bookings {
    margin: .5em;
    width: 100%;
  }
  
  .booking {
    @include columnFlexCenter();
    height: 20vh;
    overflow: scroll;
  
    p {
      border: .25em solid $primary-color;
      font-size: .5em;
      padding: .25em;
      margin: .25em;
      width: 100%;
    }
  }
}

.center-dashboard-container {
  grid-column-start: 3;
  grid-row: 3;
  width: 100%;
  
  .book-room-conatainer {
    @include columnFlexCenter();
  }

  .book-room-form {
    @include columnFlexCenter();
  }

  .search-button,
  .book-room {
  background-color: lighten($secondary-color, 20%);
  border: none;
  cursor: pointer;
  font-family: $primary-font;
  font-size: .5em;
  margin: .5em;
  padding: .25em;
  transition: background-color .25s linear;
  width: 50%;

  &:hover {
    background-color: $primary-color;
    transition: background-color .25s linear;
  }
}

.book-room {
  font-size: 1em;
}

  .available-rooms-list {
    display: flex;
    flex-flow: row wrap;
    height: 43vh;
    justify-content: flex-start;
    margin: .25em;
    overflow: scroll;
    width: 100%;
  }

  .room-listing {
    border: .25em solid $primary-color;
    font-size: .5em;
    margin: 1em;
    padding: 1em;
    width: 44%;
  }

  .no-rooms {
    font-size: 1em;
    width: 100%;
  }
}

.right-dashboard-container {
  grid-column-start: 4;
  grid-row: 3;
  width: 100%;
}